body {
  padding: 0;
  /* padding-bottom: 15vh; */
  margin: 0px;
}

#navbar{
  height: 5vh;
  width: 97.5%;
  font-weight: bolder;
  font-size: 25px;
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0 1rem;
  color: white; 
  background: black;
  
}

#infoBox{
  position:absolute;
  top: 40px;
  left: 10px;
  padding: 10px;
  z-index: 10000;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

#infoTitle{
  font-size: 15px;
  font-weight: bolder;
}

.marker{
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#mapBox{
  display: flex;
  flex-direction: row;
} 
#map{
  width:80%;
  height:93vh;
}
#logTitle{
    font-weight: bolder;
  font-size: 3vh;
  font
}
#mapLog{
  font-size: 2vh;
  text-align: center;
  width:20%;
}
span{
  margin: 5px;
  display: block;
}