<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <title>와일드 보어즈</title>
      <link rel ="stylesheet" href="/stylesheets/GetAPI.css"/>
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pmqeqdfisx"></script>
  </head>
  <body>
    <div class="nomalInfo">
      <h3>기본 정보</h3>

    </div>
    <h3>활용 정보</h3>
    <div class="useInfo">
        <div id="table">활용 목적</div>
        <div id="table"> 
          <input type='radio' name='context' id = 'input-context' checked/>웹 사이트 개발
          <input type='radio' name='context' id = 'input-context' />앱 개발
          <input type='radio' name='context' id = 'input-context' />기타
          <input type='radio' name='context' id = 'input-context' />참고자료
          <input type='radio' name='context' id = 'input-context' />연구(논문 등)
          <br>
        </div>
      </div>
      <input type='submit'>
    <script src="/javascripts/GetAPI.js"></script>
  </body>
</html>