<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Wild Boars</title>
    <link rel ="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pmqeqdfisx"></script>
    <script>
      var live = {
        init : function() {
          var source = new EventSource("http://localhost:3000/events");
          source.addEventListener("message", function(event){
            var data = JSON.parse(event.data);
            live.addItem(data);
            console.log("sse start");
          }, false);
        },
        addItem : function(data){
          Pointing(data.longitude, data.latitude);
        }  
      };
      document.addEventListener("DOMContentLoaded", function(){
        live.init();
      })
    </script>
  </head>

  <body>
    <div id = "navbar">Wild Boar Map</div>
    <div id="infoBox">
      <div id="infoTitle">현재 시각</div>
      <div id="infoContent">00:00</div>
    </div>
    <div id="GetAPIButton">
      <div id="API text">API</div>
      <div id="API text">사용 신청하기</div>
    </div>
    <div id="mapBox">
      <div id="map"></div>
      
      <div id="mapLog">
        <div id="logTitle">
          Wild Boar Log
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/data/data.js"></script>
    <script src="/javascripts/map.js"></script>
  </body>
</html>